<footer>
	<div class="marcs">
<div class="imgfcontain imgsecondcontain">

	<img class="fotterimg fotimgbig" src="/assets/images/leox.png" alt="">
<img class="fotterimg fotimgbig" src="/assets/images/xzx.png" alt="">
<img class="fotterimg fotimgbig" src="/assets/images/yves.png" alt="">
	<img class="fotterimg fotimgbig" src="/assets/images/modalfa.png" alt="">
		<img class="fotterimg fotimgbig" src="/assets/images/moda.png" alt="">
		</div>

</div>
<div class="containbigii" style="align-content: center;
    justify-content: center;
    display: flex;background-color: #E8E8E8;">
<div class="containbig" style="    justify-content: center !important;">

	<div class="be">
	<div class="let">
		<div class="firstpar">
	
		<h3 class="textbot" style="font-size:0.875rem; color: black;">Junte-se à nossa newsletter!</h3></div><br><p class="textbot" style="color:black;">Saiba sobre as nossas últimas novidades,</p> <br> <p class="textbot" style="color:black;"> e ofertas especiais.</p></div>
<form action="/obrigado" name="message" class="newsletter" style="margin-bottom: 10px; margin-top: 10px;     text-align: center;"  method="POST" data-netlify="true" action="{{ page.url }}">
    <input class="email" type="email" name="email" placeholder="Email">
    <input type="hidden" name="_after" value="{{ site.url }}">
    <input type="text" name="_honey" value="" style="display:none">
<input class="submit" type="submit" value="✔" action="{{ site.url }}" style="   -webkit-appearance: none;
">
</form>

</div>
<div class="third">
	
</div>
</div>
</div>

<div class="notgot" style="margin-top: 20px; border-bottom: 1px solid #E8E8E8; border-top: 1px solid #E8E8E8; display: flex; justify-content: space-between;     padding: 20px 50px 20px 50px; flex-wrap: wrap;">

<div class="fotlink">

	<div class="getgetget" style="display: flex;     flex-wrap: wrap;">

	<div class="secuiui">

		<div style="font-size: 12px !important;  color: black;     font-family: 'Ropa Sans', sans-serif;
" class="howmutch">LEGAL</div>

	<div style=" color: #E8E8E8;  " class="howmutch"><a style="color: #979797 !important;" href="{{ site.url }}/custosdeenvio" class="envio">Custo de Envio</a></div>

	<div style="color: #E8E8E8; " class="howmutch" style="  "><a style="color: #979797 !important;"  href="{{ site.url }}/politicadeprivacidade" class="envio">Política de Privacidade</a></div>

</div>

<div class="secuiui">

			<div style="font-size: 12px !important; color: black;     font-family: 'Ropa Sans', sans-serif;
" class="howmutch" >SOBRE</div>

	<div style=" " class="howmutch"><a  style="color: #979797 !important;" href="{{ site.url }}/quemsomos" class="envio">Quem Somos</a></div>


	<div  class="howmutch"><a  style="color: #979797 !important;" href="{{ site.url }}/promocaoinstagram" class="envio">Promoção Instagram</a></div>
</div>
</div>
</div>

<div style=" display: flex; flex-direction: column;">
<div class="social">

		<h3 class="textbot cash" style="font-size:0.875rem; color: black; margin-top: 10px;">Siga-nos!</h3>
<a target="_blank" href="https://www.facebook.com/gogogostore/"><img style="width: 40px; margin-right: 10px;" src="/assets/images/facebook.png" alt="facebook"></a>

<a target="_blank" href="https://www.instagram.com/gogogostore/"><img style="width: 40px; margin-right: 10px;" src="/assets/images/instagram.png" alt="instagram"></a>

<a href="mailto:gogogostore@hotmail.com"><img style="width: 40px; margin-right: 10px;" src="/assets/images/mail.png" alt="mail"></a>
</div>

<div>
 <button style=" width: 100%;   background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;" onclick="install()">
<img style="width: 250px;" src="/assets/images/install.png" alt=""></button> 

</div>
</div>

 
</div>
	<div class="marcs">
				<h6 style="margin-top:10px;text-align:center;" class="trustus">Métodos de pagamento</h6>
<div class="imgfcontain">
	<img class="fotterimg" src="/assets/images/paypal.png" alt="">
<img class="fotterimg" src="/assets/images/stripe.png" alt="">
<img class="fotterimg" src="/assets/images/mastercard.png" alt="">
	<img class="fotterimg" src="/assets/images/mb.png" alt="">
		<img class="fotterimg" src="/assets/images/visa.png" alt="">
		</div>
		<div class="trustcontain" style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
		<h6 class="trustus">Compras seguras e certificadas</h6>
<div style="display: flex; justify-content: center;"><a href="https://transparencyreport.google.com/safe-browsing/search?url=gogogostore.pt&hl=pt_PT"><img class="fotterimg" src="/assets/images/SafeBrowsing_Icon.png" alt=""></a>
		<img class="fotterimg" src="/assets/images/lets.png" alt="">
</div>
<div>

<h6 style="font-size:7px;text-align: center;text-transform: uppercase;color: gray;margin-top: 10px;margin-bottom: 10px;">GOGOGO STORE 2016-2019</h6>
</div>
<footer>
</footer>
</div>

