<footer>


<div class="containbig">
	<div class="be">
	<div class="let"><h3 class="textbot" style="font-size:13px; color: white;">Junte-se à nossa newsletter!</h3><br><p class="textbot" style="color:white;">Saiba sobre as nossas últimas novidades,</p> <br> <p class="textbot" style="color:white;"> produtos e ofertas especiais.</p></div>
<form class="newsletter" style="margin-bottom: 10px;" method="POST" data-netlify="true" action="{{ page.url }}">
    <input class="email" type="email" name="email" placeholder="Email">
    <input type="hidden" name="_after" value="{{ site.url }}">
    <input type="text" name="_honey" value="" style="display:none">
    <div class="like"><input class="submit" type="submit" value="✔"></div>
</form>
<br><br>

<div class="let"><a style="color: white;" href="">Clique aqui</a> para ver a nossa <a style="color:white;" href="">Política de Privacidade.</a></div>
</div>
<div class="third">
	<div class="social">
<a target="_blank" href="https://www.facebook.com/gogogostore/"><img style="width: 30px; margin-right: 10px;" src="assets/images/facebook.png" alt="facebook"></a>
<a target="_blank" href="https://www.instagram.com/gogogostore/"><img style="width: 30px; margin-right: 10px;" src="/assets/images/instagram.png" alt="instagram"></a>
<a href="mailto:gogogostore@hotmail.com"><img style="width: 30px; margin-right: 10px;" src="/assets/images/mail.png" alt="mail"></a>

</div>
</div>
</div>
<hr>
<div class="fotlink"><div class="howmutch"><a href="{{ site.url }}/custosdeenvio" class="envio">Custo de Envio</a></div><div class="howmutch"><a href="{{ site.url }}/politicadeprivacidade" class="envio">Política de Privacidade</a></div></div>

<div class="marcscontain">
	<div class="marcs">
		<h3 class="titlemarcs" style="text-align: center; color: white;">Metodos de Pagamento</h3>
<div class="imgfcontain">

	<img class="fotterimg" src="/assets/images/paypal.png" alt="">
<img class="fotterimg" src="/assets/images/stripe.png" alt="">
<img class="fotterimg"src="/assets/images/mastercard.png" alt="">
	<img class="fotterimg" src="/assets/images/mb.png" alt="">
		<img class="fotterimg" src="/assets/images/visa.png" alt="">
		</div>
</div>

	<div class="marcs">
		<h3 class="titlemarcs" style="text-align: center; color: white;">Marcas</h3>
<div class="imgfcontain">

	<img class="fotterimg" src="/assets/images/leox.png" alt="">
<img class="fotterimg" src="/assets/images/xzx.png" alt="">
<img class="fotterimg"src="/assets/images/yves.png" alt="">
	<img class="fotterimg" src="/assets/images/modalfa.png" alt="">
		<img class="fotterimg" src="/assets/images/moda.png" alt="">
		</div>

</div>
</div>
</footer>

