<footer>
	<div class="marcs">
<div class="imgfcontain">

	<img class="fotterimg fotimgbig" src="/assets/images/leox.png" alt="">
<img class="fotterimg fotimgbig" src="/assets/images/xzx.png" alt="">
<img class="fotterimg fotimgbig"src="/assets/images/yves.png" alt="">
	<img class="fotterimg fotimgbig" src="/assets/images/modalfa.png" alt="">
		<img class="fotterimg fotimgbig" src="/assets/images/moda.png" alt="">
		</div>

</div>
<div class="containbigii" style="background-color: #E8E8E8;">
<div class="containbig">

	<div class="be">
	<div class="let">
		<div class="firstpar">
		<img class="nlt" src="/assets/images/newslletter.png" alt="newsletter" style="flex-shrink: 0; width: 30px; margin-right: 20px; display: inline;
margin-right: 15px;
margin-top: -10px;">
		<h3 class="textbot" style="font-size:0.875rem; color: black;">Junte-se à nossa newsletter!</h3></div><br><p class="textbot" style="color:black;">Saiba sobre as nossas últimas novidades,</p> <br> <p class="textbot" style="color:black;"> e ofertas especiais.</p></div>
<form class="newsletter" style="margin-bottom: 10px; margin-top: 10px;" method="POST" data-netlify="true" action="{{ page.url }}">
    <input class="email" type="email" name="email" placeholder="Email">
    <input type="hidden" name="_after" value="{{ site.url }}">
    <input type="text" name="_honey" value="" style="display:none">
    <div class="like"><input class="submit" type="submit" value="✔"></div>
</form>

</div>
<div class="third">
	<div class="social">
		<h3 class="textbot cash" style="font-size:0.875rem; color: black; margin-top: 10px;">Siga-nos!</h3>
<a target="_blank" href="https://www.facebook.com/gogogostore/"><img style="width: 40px; margin-right: 10px;" src="/assets/images/facebook.png" alt="facebook"></a>
<a target="_blank" href="https://www.instagram.com/gogogostore/"><img style="width: 40px; margin-right: 10px;" src="/assets/images/instagram.png" alt="instagram"></a>
<a href="mailto:gogogostore@hotmail.com"><img style="width: 40px; margin-right: 10px;" src="/assets/images/mail.png" alt="mail"></a>
</div>
</div>
</div>
</div>
<div class="fotlink"><div class="howmutch"><a href="{{ site.url }}/custosdeenvio" class="envio">Custo de Envio</a></div><div>|</div><div class="howmutch"><a href="{{ site.url }}/politicadeprivacidade" class="envio">Política de Privacidade</a></div></div>
<hr>


	<div class="marcs">
<div class="imgfcontain">
	<img class="fotterimg" src="/assets/images/paypal.png" alt="">
<img class="fotterimg" src="/assets/images/stripe.png" alt="">
<img class="fotterimg"src="/assets/images/mastercard.png" alt="">
	<img class="fotterimg" src="/assets/images/mb.png" alt="">
		<img class="fotterimg" src="/assets/images/visa.png" alt="">
		</div>
<h6 style="font-size:7px;text-align: center;text-transform: uppercase;color: lightgray;margin-top: 10px;">GOGOGO STORE Zona Industrial da Varziela, R. 10, Nº 150 A</h6>
</div>
</footer>

