 

<header>
 
	<nav style="background-color: black;">
      <img class="hamb" src="/assets/images/hamburguer.png" alt="">

		<a href="{{ site.url }}"><img class="logo" src="/assets/images/gogogostore.png"></a>
		<div class="menu">
        <div class="getprod">


<div class="look">
  <div class="loo2">


<div style="position: relative;">

<div class="snipcart-summary">
	<a href="#" class="snipcart-checkout">
		<img src="/assets/images/bag.png" alt="conta" style="width: 20px; margin-right: 15px;">
	
</div>

<div style="position: absolute;		position:absolute;
    top: 8px;
    left: 6.5px;
		height:100%;
		width:100%;
		z-index:2;">
		<div style="color: white !important; font-size: 10px;" class="snipcart-summary">
			<span class="snipcart-total-items"></span>
		</div>
</a>
</div>

</div>

<a href="#" class="snipcart-user-profile">
<img  class="tren" src="/assets/images/user.png" alt="conta" style="width: 25px;
margin-right: 15px;">
</a>
  </div>


  </div>
</div>

</div>

  
	</nav>
</header>


