 

<header>
 
	<nav style="background-color: black;">
      <img class="hamb" src="/assets/images/hamburguer.png" alt="">

		<a href="{{ site.url }}"><img class="logo" src="/assets/images/gogogostore.png"></a>
		<div class="menu">
        <div class="getprod">


<div class="look">
  <div class="loo2">
<form class="loo2 setserach" action="/search" method="get">
    <input class="search tren" type="text" name="query" id="search_box" placeholder="Procurar">
 <label>
    <input style="display:none" type="submit" /><img class="tren" src="/assets/images/search.png" alt="saco" style="width: 20px; margin-right: 15px;">
</label>
    </form>
<div class="snipcart-summary"><a href="#" class="snipcart-checkout"><img src="/assets/images/bag.png" alt="conta" style="width: 20px; margin-right: 15px;"></a>
</div><a href="#" class="snipcart-user-profile">
<img  class="tren" src="/assets/images/user.png" alt="conta" style="width: 25px;
margin-right: 15px;"></a>
  </div>


  </div>
</div>

</div>

  
	</nav>
</header>


