<header>
  <div class="bar">  <a href="https://www.facebook.com/gogogostore/"><h2 class="contactface">Fale connosco no Facebook!</h2></a>
   <div class="icons"><p class="thep">Carrinho</p><div class="snipcart-summary"><a href="#" class="snipcart-checkout"><svg id="bag" x="0px" y="0px" height="24" width="24" viewBox="0 0 200.745 200.745">
        <style type="text/css" >
          <![CDATA[
            tspan.num-items {
            }
          ]]>
        </style>
        <g>
            <g>
                <path class="bag-sty" d="M166.089,42.803h-37.671V28.026C128.418,12.573,115.849,0,100.396,0S72.37,12.573,72.37,28.026
            v14.777H36.839l-9.087,157.942h145.24L166.089,42.803z M78.679,28.026c0-11.971,9.745-21.716,21.716-21.716
            c11.975,0,21.713,9.745,21.713,21.716v14.777H78.679V28.026z M42.794,49.109H72.37v14.788h6.31V49.109h43.433v14.788h6.31V49.109
            h31.637l6.345,145.341H34.434L42.794,49.109z"/>
            </g>
        </g>
        <g>
          <text y="150" transform="translate(100)" font-size="100" text-anchor="middle">
            <tspan class="snipcart-total-items" style="color: blue;"></tspan>
          </text>  
        </g>
      </svg></a>
</div><p class="thep">Login</p><a href="#" class="snipcart-user-profile">
<svg class="person" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="24" width="24" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
<g><path d="M594.7,990H405.3c-179.8,0-321.7,0-321.7-96.1v-19.2c0-180.1,144.4-326.6,321.7-326.6h189.5c177.4,0,321.7,146.5,321.7,326.6v19.2C916.4,990,767.3,990,594.7,990L594.7,990z M405.2,605.7c-146.6,0-265.8,120.6-265.8,269v19.2c0,38.4,153.6,38.4,265.8,38.4h189.5c92.9,0,265.8,0,265.8-38.4v-19.2c0-148.3-119.2-269-265.8-269H405.2L405.2,605.7z M490.5,528.8c-140.9,0-255.4-116.4-255.4-259.4c0-143,114.6-259.4,255.4-259.4c140.8,0,255.4,116.3,255.4,259.4C745.9,412.4,631.3,528.8,490.5,528.8L490.5,528.8z M291,269.4c0,111.2,89.5,201.8,199.5,201.8c110,0,199.4-90.5,199.4-201.8c0-111.2-89.5-201.7-199.4-201.7C380.5,67.7,291,158.1,291,269.4L291,269.4z"/></g>
</svg></a></div></div>
	<nav>
		<a href="{{ site.url }}"><img class="logo" src="/assets/images/gogogo.png"></a>
		<div class="menu">
        <div class="getprod">

		<ul id="no" class="no">
		<li><a href="{{ site.url }}/novo/">Novidades</li></a>
		<li><a class="" href="{{ site.url }}/maisvendidos">Mais vendidos</li></a>
		<li class="productss">Produtos</li>
	</ul>
<div class="look">
  <div class="loo2">
<form class="loo2" action="/search" method="get">
    <input class="search" type="text" name="query" id="search_box" placeholder="Procurar">
 <label>
    <input style="display:none" type="submit" /><svg class="loopi" width="50" height="25" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M15.853 16.56c-1.683 1.517-3.911 2.44-6.353 2.44-5.243 0-9.5-4.257-9.5-9.5s4.257-9.5 9.5-9.5 9.5 4.257 9.5 9.5c0 2.442-.923 4.67-2.44 6.353l7.44 7.44-.707.707-7.44-7.44zm-6.353-15.56c4.691 0 8.5 3.809 8.5 8.5s-3.809 8.5-8.5 8.5-8.5-3.809-8.5-8.5 3.809-8.5 8.5-8.5z"/></svg>
</label>
    </form>

  </div>
  <img class="hamb" src="/assets/images/hamburguer.png" alt="">
  </div>
</div>

</div>

  
	</nav>
</header>
 <ul class="sublist">
        <li class="lili"> <a class="lili" href="{{ site.url }}/tshirts/">T-shirts</li></a>
        <li class="lili"> <a class="lili" href="{{ site.url }}/polos/">Polos</li></a>
        <li class="lili"> <a class="lili" href="{{ site.url }}/camisas/">Camisas</li></a>
</ul>
  <ul id="mobi" class="mobi">
    <li id="sub"><a href="{{ site.url }}/novo/">Novo</li></a>
    <li id="sub"><a href="{{ site.url }}/maisvendidos">Mais vendidos</li></a>
    <li id="sub" class="productsss">Produtos</li>
  </ul>
      <ul id="sublist" class="crash">
        <li class="sublistlist"> <a href="{{ site.url }}/tshirts/" class="yeah">T-shirts</li></a>
        <li class="sublistlist"> <a href="{{ site.url }}/polos/" class="yeah">Polos</li></a>
        <li class="sublistlist"> <a href="{{ site.url }}/camisas/" class="yeah">Camisas</li></a>
</ul>


