 
 <form class="filter" method="get">
  <fieldset id="oozer-filters">
      <div class="colectiondis" style="display: flex; justify-content: space-between; width: 250%; align-items: center;"><h2 class="colecioes">Coleções</h2><img class="minusarrow" style="" src="/assets/images/minus.png" alt=""><img class="plusarrow" style="" src="/assets/images/plusarrow.png" alt=""></div>
      <hr class="hrfilter"> 
      <div class="basic">
      <label style="opacity: 0; height: 0;" class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">Basic</label>
      <label class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">Basic</label>  
      <label class="oozer-filters"><input type="radio" name="oozer-filter" value="padrao">Padrão</label> 
      <label class="oozer-filters"><input type="radio" name="oozer-filter" value="rose">Rosa</label>   
      </div>
            <h2 class="colecioes">Cores</h2>
            <hr class="hrfilter"> <label style="opacity: 0; height: 0;" class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">Basic</label>
                <label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Preto">Preto</label> 
                <label class="oozer-filters" id="try"> <input for="try" type="radio" name="oozer-filter" value="Branco">Branco</label><label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Cinzento">
       Cinzento</label><label class="oozer-filters"><input type="radio" name="oozer-filter" value="Castanho">Castanho</label><label class="oozer-filters radio-btn"><input type="radio" name="oozer-filter" value="Azul">Azul</label>  
                         
      

          <button href="{{ page.url }}" id="my-button" class="restaurar">Restaurar</button> 


  </fieldset>
</form>


   <div class="oofilter">
      <h2 class="colecioes">Coleções</h2>
      <hr class="hrfilter"><label style="opacity: 0; height: 0;" class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">Basic</label><label class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">
      Basic</label><label class="oozer-filters"><input type="radio" name="oozer-filter" value="padrao">
      Padrão</label>  
 <label style="opacity: 0; height: 0;" class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">Basic</label>
 <h2 class="colecioes">Cores</h2><hr class="hrfilter"><label style="opacity: 0; height: 0;" class="oozer-filters"><input type="radio" name="oozer-filter" value="basic">
      Basic</label><label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Preto">Preto</label>
                <label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Branco">Branco</label> 
  <label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Cinzento">Cinzento</label> 

        <label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Castanho">Castanho</label> 

      <label class="oozer-filters"> <input type="radio" name="oozer-filter" value="Azul">Azul</label>  
                         
      

          <button href="{{ page.url }}" id="my-button" class="restaurar">Restaurar</button> 

  </div>
