
/* gfs-didot-regular - greek */
@font-face {
  font-family: 'GFS Didot';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/gfs-didot-v8-greek-regular.eot'); /* IE9 Compat Modes */
  src: local('GFS Didot Regular'), local('GFSDidot-Regular'),
       url('/assets/fonts/gfs-didot-v8-greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/gfs-didot-v8-greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/gfs-didot-v8-greek-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/gfs-didot-v8-greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/gfs-didot-v8-greek-regular.svg#GFSDidot') format('svg'); /* Legacy iOS */
}
 @import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap');

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.caseclose {
  margin-top: 100px !important;
}
.at-action-menu {
  display: none !important;
  opacity: 0;
}


.at-action-menu-icon {
  display: none !important;
  opacity: 0;
}


iframe{
    overflow:hidden;
}

.thisbabe {
  background-color: black;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:

.item {
  margin: 5px !important;
}
.innerslide {
  width: 100%;
  content: "";
  display: block;
  opacity: 0;
}
.sliderx {
  width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
    overflow-y: scroll;
    overflow: auto;    
    scrollbar-base-color:#ffeaff

}

.teste1 {
  margin-top: 53px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.sliderx .slidex {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.sliderx .item {
  margin-right: 10px;
}

.sliderx .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}



.fal {
  font-family: 'Font Awesome 5 Free';
}

#product-slider {
  width: 500px;
}
#product-slider > div:nth-of-type(2) {
  margin-top: 0;
}
#product-slider.reverse {
  display: flex;
  flex-direction: column-reverse;
}
#product-slider.reverse > div:first-of-type {
  margin-bottom: 1em;
}
#product-slider.reverse > div:nth-of-type(2) {
  margin-top: 0;
}
#product-slider.has-social-share #product-slider__nav {
  width: 437.5px;
  margin-bottom: 0;
  display: inline-block;
}
#product-slider.has-social-share .social-share {
  width: 57.5px;
  height: 62.5px;
  background: no-repeat;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  position: relative;
  outline: none;
  box-shadow: none;
  display: inline-block;
  float: right;
}
#product-slider.has-social-share .social-share:hover {
  opacity: 1;
}
#product-slider.has-social-share .social-share * {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}
#product-slider.has-social-share .social-share__links {
  display: none;
  position: absolute;
  width: 150px;
  padding: 2em 1em;
  border: 1px solid black;
  z-index: 1;
  background: white;
  left: 0;
  margin-top: 15px;
  filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.16));
}
#product-slider.has-social-share .social-share__links::before {
  float: left;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #ffffff;
  filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.16));
  -webkit-filter: drop-shadow(0 -1px 0 black);
  position: relative;
  left: 17x;
  content: "";
  top: -11px;
  position: absolute;
  z-index: 2;
}
#product-slider.has-social-share .social-share__links a {
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 2em;
  color: black;
  display: inline-block;
}
#product-slider.has-social-share .social-share__text {
  margin-top: 5px;
}
#product-slider.has-social-share .social-share__icon {
  font-size: 1.25em;
}
#product-slider.has-social-share .social-share.is-visible {
  opacity: 1;
}
#product-slider.has-social-share .social-share.is-visible .social-share__links {
  display: block;
}
#product-slider .slick-slide {
  display: flex;
  align-items: center;
}
#product-slider .slick-slide img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
#product-slider .slick-arrow {
  -webkit-appearance: none;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 42px;
  margin: auto;
  width: 10%;
  text-align: center;
  z-index: 1;
  color: #000;
  background: white;
  height: 1.2em;
  padding: 1em 0;
  cursor: pointer;
}
#product-slider .slick-arrow.slick-next {
  left: initial;
}
#product-slider .slick-arrow.slick-prev {
  right: initial;
}

.slick-slide {
}



#product-slider__main {
  margin-bottom: 0;
}
#product-slider__main::after {
  color: #555;
  font-size: 0.85em;
  content: '';
  text-align: center;
  width: 100%;
  display: block;
  padding: 1em 0;
}
#product-slider__main:hover::after {
  content: '';
}
#product-slider__main.object-fit--contain .slick-slide img {
  object-fit: cover;
  height: 709px;
  width: 709px;
}
#product-slider__main .slick-slide {
  height: 709px;
}
#product-slider__main .slick-slide img {
  cursor: zoom-in;
}

#product-slider__nav.object-fit--contain .slick-slide img {
  object-fit: cover;
  height: 62.5px;
}
#product-slider__nav .slick-slide {
  margin-right: 1em;
}
#product-slider__nav .slick-slide.slick-current img {
  border: 1px solid #333;
  padding: 2px;
  box-sizing: border-box;
  opacity: 0.7;
}
#product-slider__nav .slick-slide img {
  cursor: pointer;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.mobilepop {
  display: none;
}





.large-centered {
  display: flex;

    justify-content: center;
    width: 50%;
    position: relative;
}

.popimage {
  width: 50%;
}

.popimage {
  width: 100% !important;
}

.popcontain  {
  position: fixed;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-content: center;
}

.pop-up {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    z-index: 200;
    height: 100vh;
    width: 100%;

}

.close-button {
    transition: all 0.5s ease;
    position: absolute;
    padding: 1.5px 7px;
    margin-left: -10px;
    color: black;
    top: 0;
    z-index: 200;
    top: 1px;
    font-size: 30px;
    background-color: white;
    right: 0;
}

.close-button:hover {
    background-color: black;
    color: white;
}


.cover {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.blur-in {
    -webkit-animation: blur 2s forwards;
    -moz-animation: blur 2s forwards;
    -o-animation: blur 2s forwards;
    animation: blur 2s forwards;
}

.blur-out {
    -webkit-animation: blur-out 2s forwards;
    -moz-animation: blur-out 2s forwards;
    -o-animation: blur-out 2s forwards;
    animation: blur-out 2s forwards;
}

@-webkit-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-moz-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-o-keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    100% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }
}

@-webkit-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-moz-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@-o-keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}

@keyframes blur-out {
    0% {
        -webkit-filter: blur(4px);
        -moz-filter: blur(4px);
        -o-filter: blur(4px);
        -ms-filter: blur(4px);
        filter: blur(4px);
    }

    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}


.bottomdiv {
  margin: 20px 0 20px 0;
}

.custoscustos {
  margin: 20px 200px 20px 200px;
}

.subcustotilte {
  margin-bottom: 50px;
}

.casacosimg {
  width: 35% !important;
}

.snip-layout .snip-header__total {
  background: none;
}

.basic {
  display: flex;
  flex-direction: column;
}

.maiscoresdiv {
  display: flex;
  flex-direction: column;
}

.estacoes {
  display: flex;
  flex-direction: column;
}

.nobasic {
  display: none;
}

.theorder  {
  width: 100px;
}

.titlefilter {
  display: flex;
flex-direction: row-reverse;
width: 100%;
}
.superwarp {
  margin: -80px 20px 0 20px;
}

.caseclose {
  margin: 10px 20px 10px 20px;
}

.portesban {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  margin-top: 5px;
  text-transform: uppercase;
}

.custotilte {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

html{
  height: 100%;
    overflow-y: scroll;
overflow-x: hidden;
}

.yimagey {
  opacity: 0.7;
}



.oozer-filters:hover {
  color: #D3D3D3;
}

.nostock {
  cursor: default !important;
  background-color: red !important;
}

.nostock:hover {
  background-color: red !important;
}

.getpages {
  display: block !important;
  opacity: 1 !important;
}

.snip-header__total {
	display: none;
}

#my-size {
  width: 60%;
  border: black 0.5px solid;
}



.colecioes {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

#colors {
    width: 60%;
    border: black 0.5px solid;
}

.colors {
  margin-left: 20px;
}

.restaurar {
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100% !important
}

fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  width: 1000px;
  justify-content: center;
}

.banner2 {
  width: 100%;
}

.h4name {
  font-size: 8px !important;
  margin-bottom: 5px !important;
  margin-top: 10px;
}

.h4price {
  font-weight: 900 !important;
  font-size: 10px !important;
    margin-bottom: 20px !important;
}

.banner3 {
  width: 100%;
}

.icons {
  margin-right: 10px;
}
.pages li {
  font-size: 15px;
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  line-height: 1.6em;
  margin-right: 2px;
  text-align: center;
  width: 1.6em; 
  cursor: pointer;
  margin-left: 3px;
}

.pages li:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000
}

.pages ul {
  border: 0;
  padding: 0;
}

.active {
  background-color: #fff !important;
  color: #000 !important;
}

.hrfilter {
  width: 250%;
  z-index: -1;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  font-weight: 50 !important;
  letter-spacing: 2px;
}

.error {
  height: 100vh;
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snip-ico--close {
  font-family: "Snipcart";
}

.snip-layout {
  font-family: "GFS Didot";
}


select {

  /* make arrow and background */

  background:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, black, black);
  background-position:
    calc(100% - 21px) calc(1em + 2px),
    calc(100% - 16px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;

  /* styling and reset */

  border: none;
  font: 300 1em/100% "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  width: 400px;
  /* reset */

  border-radius: 0;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance:none;
  -moz-appearance:none;
} 


.snip-layout .snip-btn--highlight {
  background: black;
  color: white;
}

.what {
  display: flex;
  flex-direction: column;
}


.snip-layout .snip-btn--highlight:hover {
  background: gray;
}

.snip-header__total-label {
  display: none;
}

.contactface {
  color: white;
  font-size: 15px;
  margin-left: 10px;
  letter-spacing: 2px;
  font-family: "Crimson Text" !important;
  margin-top: 5px;
  text-transform: uppercase;
}

.productwindow {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px 20px 100px;
  flex-wrap: wrap;
  flex-shrink: 0;
  flex-direction: row;
}

.wrapu {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 100;
  margin-top: 100px;
}

.bar {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-weight: thin;
}

.icons {
  display: flex;
  margin: 5px 10px 0 0;
}

.snip-product__description {
  display: none;
}

#bag {
  fill: black;
}

.person {
  fill: black;
  margin-right: 10px;
}

.mail {
  fill: white;
}



.sortBy {
  float: right;
  width: 275px;
}

.sortBy h4 {
  float: left;
  margin-top: 7px;
}




header {
  width: 100%;
  height: 120px;
  top: 0;
  z-index: 100;
  position: ;
  margin-bottom: -125px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
  opacity: 1;
  transition: all 300ms ease-out;
}

a:hover {
  color: #808080;
  opacity: 0.8;

}


footer {
  content: "";
  display: block;
  background-color: white;
  margin-top: -10px;
}

.open {
  color: white;
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
}

.be {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.marcscontain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  margin-top: 20px;
}

.marcs {
  display: flex;
  flex-direction: column;
}

.let {
  color: black;
  font-size: 10px;
  font-family: "Crimson Text";
  text-transform: uppercase;
  letter-spacing: 2px;
  justify-content: center;
  text-align: center;
  font-weight: 900 !important;
}

.it {
  letter-spacing: 2px;
  color: white;
  text-align: center;
  font-size: 15px;
  font-family: "Crimson Text";
  text-transform: uppercase;
}

input[type=text] {
    padding:5px; 
    -webkit-border-radius: 1px solid black;
    border-radius: 1px solid black;
    font-family: "Crimson Text";
    border: 1;
    box-shadow: 0;
}

#my-quantity {
  font-family: "Crimson Text";
font-size: 30px;
border: 2px solid black !important;
width: 10%;
text-align: center;
}

.quantttt {
  display: flex;
}

.minus, .plus{
      width:33px;
      height:40px;
      background: black;
      padding:8px 3px 8px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: white;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold !important;
    }

.thisbtn {
  position: absolute;
  bottom: 0;
  margin-bottom: 60px;
  height: 20px;
}

.whatel {
  margin-bottom: 20px;
    margin-top: 10px;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
  font-family: "Crimson Text";
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
}

.minusarrow {
  cursor: pointer;
  z-index: 100;
  width: 20px; 
  align-items: center;
  display: block;
}


.menosestacoes {
  cursor: pointer;
  z-index: 100;
  width: 20px; 
  align-items: center;
  display: block;
}



.imgsecondcontain {
  justify-content: space-around !important;
}

.menuscores {
  cursor: pointer;
  z-index: 100;
  width: 20px; 
  align-items: center;
  display: block;
}

.maiscores {
  cursor: pointer;
  z-index: 100;
  width: 20px; 
  align-items: center;
  display: none;
}


.maisestacoes {
  cursor: pointer;
  z-index: 100;
  width: 20px; 
  align-items: center;
  display: none;
}

.plusarrow {
  cursor: pointer;
  z-index: 100;
  width: 20px;
  align-items: center;
  display: none;
}

.showplus {
  display: block;
}

.hideminus {
  display: none;
}



.oozer-filters {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  color: #808080;
}

input[type=text]:focus {
    border-color:#333;
}

.firstpar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.filter {
  margin-left: 50px;
}

.textbot {
  font-size: 0.875rem;
}

.newsletter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.fotimgbig {
  width: 90px !important;
  margin: 20px 0 10px 0 !important;
}

input[type=radio] {
  display: none !important;
}

input {
  text-align: left;
}

.oozer-filters + label:before {
  color: #808080;
}
.oozer-filters + label:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0.6em;
  height: 0.6em;
  margin-right: 0.2em;
  border: 1px solid currentcolor;
  border-radius: 50%;
}
.oozer-filters:checked + label:before {
  box-shadow: 0 0 0 0.1em white inset, 0.1em 0.1em 0 0.8em currentcolor inset;
}

.oozer-filters + label:before {
  border-radius: 0;
}


.containbig {
  display: flex;
  justify-content: start;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 50px 25px 50px;
  flex-wrap: wrap;
}

hr {
  color: white;
}

.follow {
  text-align: center;
  color:white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.social {
  display: flex;
  color: white;
  letter-spacing: 0;
  justify-content: center;
}

.lost {
  color:black;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 3px;
  display: inline;
  text-align: center;

}

.uplost {
  width: 100%;
  text-align: center;
}

.found {
  color:black;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 3px; 
  display: inline;
  align-self: center;

}

.caps {
  width: 100%;
  margin: 119px 300px 20px 7px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.capscontain {
  margin: 20px 550px 20px 20px;
}

#snip-header__total-label {
  display: none;
}

.detailflex {
  display: flex;
  flex-direction: column;
}

.circle {
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #dadada;
}


#snipcart-amount {
  display: none;
}

.carl {
  text-align: center;
  color:white;
  padding-top: 10px;
  text-transform: uppercase;
}

.face {
  fill: white;
  margin-left: 0 !important;
}

.insta {
  fill:white;
}

.fotico {
  margin-left: 10px;
}

.third {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-width: 100%;
}



.submit {
    padding:4px 15px; 
    background: white; 
    border:0 none;
    cursor:pointer;
    margin-top: 9px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.submit:hover {
  background: #909090;
}

.certosoquenao {
    padding:4px 15px; 
    background: black; 
    border:0 none;
    cursor:pointer;
    margin-top: 9px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    transition: all 300ms ease-in-out;
    color: white;
    width: 100%;
    height: 30px;
}

.certosoquenao:hover {
  background: white;
  border: 2px solid black;
  color: black;
}

.submite {
    padding:4px 15px; 
    background: white; 
    border:0 none;
    cursor:pointer;
    margin-top: 9px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    width: 100%;
    transition: all 300ms ease-in-out;
}

.submite:hover {
  background: black;
  color: white !important;
}

.email {
  border: black;
  height: 35px;
  margin-top: 9px;
  color: black;
  width: 300%;
}

.email::placeholder {
  font-size: 10px;
}

.placek {
  border: 1px solid grey;
  height: 35px;
  margin-top: 9px;
  color: black;
  width: 300%;
}

.placek::placeholder {
  font-size: 10px;
  text-align: center;
}



.banner1 {
  width: 100%;
    margin-top:0.5%;

}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.getprod {
  display: flex; 
  justify-content: space-between;
  width: 100%;
}

.look {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.loo2 {
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nolook {
  
}

.wrap {
  display: flex;
  margin-top:0.5%;
  width: 100%;
  flex-wrap: wrap;
}

.sec {
  flex-shrink: 0;
  margin-bottom: 50px;
  width: 80%;
}

.productdetails {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.search {
    background-color: transparent;
    color: black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 1px;
    padding: 3px 10px;
    margin-top: 20px;
}

.menu {
 display: flex;
 justify-content: space-between;
 width: 100%;
}

.logo {
  width: 200px;
  margin: 20px 0 0 20px;
}


.productss {
  cursor: pointer;
    transition: all 300ms ease-out;
}

.productss:hover {
  color: #909090;
}

.productsss {
  cursor: pointer;
    transition: all 300ms ease-out;
}

.productsss:hover {
  color: #909090;
}


.no {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
align-self: center;
margin-top:20px;
}

.sublist {
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-size: 15px;
  z-index: -100;
  position: absolute;
  top: 20px;
}

.imagebanner {
  width: 100%;
}

.bannerimage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show {
  z-index: 10;
  color: black;
  background-color: white;
  width: 100%;
  opacity: 1;
  border: 1px black solid;
  font-size: 10px;
  margin-top: 100px;
  position: absolute;
}

.inside {
  margin-bottom: 10px;
}

.optionss {
  display: flex;
}

.hamb {
  width: 20px;
  margin-right: 10px;
  display: none;
}



.lili {
  margin-left: 10px;
}

.thep {
  color: white;
  font-family: "Helvetica" !important;
  font-size: 10px;
  letter-spacing: 2px !important;
  margin-top: 5px;
}

li {
  list-style: none;
  margin-left: 50px;
  text-transform: uppercase;
  text-align: center;
}

.snip-layout .snip-footer {
  display: none;
}

/** PRODUCT DISPLAY **/

.btn {
  opacity: 1;
  transition: all 300ms ease-out;
}

.btn:hover {
  opacity: 1;
}

.pages {
  display: flex;
  width: auto;
  font-size: 20px;
  color: white !important;
  justify-content: end;

}

.num {
  font-size: 15px;
  background: black;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
}

.tipolol {
  width: 453px;
  height: 711px;
}

.prodcontain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  align-items: center;
  align-content: center;
  margin-left: 100px;
}

.lest {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#oozer-filters {
  width: 100%;
}

.filter {
}

input[type='radio']:hover{
  background-color: #eee;
}

.productplace {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.filtername {
  color: white;
  font-size: 10px !important;
    display: flex;
      justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  display: none;
  text-align: center;
}

.filtercontainer {
  display: none;
  color: white;
  content: "";
  height: 30px;
  width: 80%;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}
.sortcontainer {
  display: none;
  color: white;
  content: "";
  height: 30px;
  width: 80%;
  background-color: black;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.prod {
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.left {
  width: 40%;
}

.productimage {
  width: 100%;
  align-self: center;
}

.imgfcontain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.fotterimg {
  width: 40px;
  margin: 20px 10px 20px 10px;
  align-self: center
}

.top {
  position: fixed;
  width: 5%;
  bottom: 0;
  right: 0;
  z-index: 2000;
}

.mobileum {
  font-size: 10px !important;
}

.mobiledois {
  font-size: 13px !important;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}



#my-button {
  background-color: black;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  flex-shrink: 0;
  width: 60%;
  outline: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  transition: all 300ms ease-out;
  text-transform: uppercase;
}

#my-button:hover {
  background-color: #909090;
}

.thisbtn {
  background-color: black;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  transition: all 300ms ease-out;
}

button:hover {
  background-color: #909090;
}

/** ROLETA **/

.wrapper{
  width:100%;
  position:static;
  margin-top: -60px;
}

.wrapper1 {
  width:100%;
  position:relative;
  margin:5px auto 5px 0;
}

/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.carousel{
   width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 0 0 !important;
  padding-top: 55%;
}

.inner{
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: relative;
      margin: 50px 0 0 0;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */


.slide{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
  left:0;
  opacity: 0;
}

.slide.active,
.slide.left,
.slide.right{
  z-index: 2;
  opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

.js-reset-left{left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide.left{
  left:-100%;
  right:0;
}

.cash {
  text-transform: uppercase;
  margin-right: 10px;
}

.slide.right{
  right:-100%;
  left: auto;
}

.transition .slide.left{left:0%}
.transition .slide.right{right:0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide.shift-right{right: 100%;left:auto}
.transition .slide.shift-left{left: 100%;right:auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide{
  transition-property: right, left, margin;
}

/**
 * ==========================
 * Indicators
 *
 */
.indicators{
  width:100%;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
  display: none;
}

.indicators li{
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #fff;
  list-style-type: none;
  border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}

.indicators li.active{background:#909090}

.indicators li:hover{background-color:#909090}

/**
 * ==========================
 * Arrows 
 *
 */
.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index: -2;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#909090}

.arrow-left{
  left:20px;
  transform:rotate(225deg);
    z-index: 2;
}

.arrow-right{
  right:20px;
  transform:rotate(45deg);
  z-index: 2;
}


/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
.slide{
  text-align:center;
  padding-top:60%;
  background-size:cover;
}

.displayprod {
  display: flex;
  justify-content: center;
}

.slide:nth-child(1){
  background-image:url(/assets/images/saldos.jpg);
  background-repeat:no-repeat;
background-size:contain;
 }

.slide:nth-child(2){
  background-image:url(/assets/images/slide2gogogo.jpg);
    background-repeat:no-repeat;
background-size:contain;
}

.slide:nth-child(3){
  background-image:url(/assets/images/slide3gogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 1000px;
  background-position: center top;
}

.fotlink {
  display: flex;
  justify-content: center;
}


 /* Slide */

.howmutch {
  text-align: center;
  color: black;
  width: 100%;
  background-color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Crimson Text";
  letter-spacing: 3px;
display: flex;
justify-content: center;
align-items: center;
}


/** ROLETA **/

.wrapper1{
  width:100%;
  position:relative;
}

/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.carousel1{
  width: 100%;
  position: relative;
  padding-top: 37%;
  overflow: hidden;
}

.inner{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */


.slide1{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  right:0;
  left:0;
  z-index: 1;
  opacity: 0;
}

.slide1.active,
.slide1.left,
.slide1.right{
  z-index: 2;
  opacity: 1;
}

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */

.js-reset-left{left:auto}

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide1.left{
  left:-100%;
  right:0;
}

.slide1.right{
  right:-100%;
  left: auto;
}

.transition .slide1.left{left:0%}
.transition .slide1.right{right:0%}

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide1.shift-right{right: 100%;left:auto}
.transition .slide1.shift-left{left: 100%;right:auto}

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide1{
  transition-property: right, left, margin;
}


/**
 * ==========================
 * Indicators
 *
 */
.indicators{
  width:100%;
  position: absolute;
  bottom:0;
  z-index: 4;
  padding:0;
  text-align: center;
}

.indicators li{
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #fff;
  list-style-type: none;
  border-radius: 50%;
  cursor:pointer;
  transition:background 0.3s ease-out;
}



.indicators li.active{background:#909090}

.indicators li:hover{background-color:#909090}

/**
 * ==========================
 * Arrows 
 *
 */
.arrow{
  width: 20px;
  height: 20px;
  position:absolute;
  top:50%;
  z-index:5;
  border-top:3px solid #fff;
  border-right:3px solid #fff;
  cursor:pointer;
  transition:border-color 0.3s ease-out;
}

.arrow:hover{border-color:#909090}

.arrow-left{
  left:20px;
  transform:rotate(225deg);
   z-index: 2;
}

.arrow-right{
  right:20px;
  transform:rotate(45deg);
   z-index: 2;
}

/**
 * ==========================
 * For demo purposes only
 * 
 * Please note that the styles below are used
 * for the purposes of this demo only. There is no need
 * to use these in any of your own projects
 *
 */
.slide1{
  text-align:center;
  padding-top:60%;
  background-size:cover;
}



.slide1:nth-child(1){
  background-image:url(/assets/images/men.jpg);
  background-repeat:no-repeat;
background-size:contain;
 }

.slide1:nth-child(2){
  background-image:url(/assets/images/y.jpg);
    background-repeat:no-repeat;
background-size:contain;
}


 /* Slide */

.howmutch {
  text-align: center;
  color: black;
  width: 100%;
  background-color: white;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Crimson Text";
  letter-spacing: 3px;
  height: 50px;
}

.loopi {
  
  cursor: pointer;
}

/* LIGHTBOX */

a.lightbox img {
height: 150px;
border: 3px solid white;
margin: 0 20px 20px 20px;
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
position: fixed;
top: -100%;
width: 100%;
background: rgba(0,0,0,.7);
width: 100%;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
left: 0;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
margin: auto;
position: absolute;
z-index: 4000;
top: 0;
left:-50px;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
border: 3px solid white;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

.cartbut {
  height: 50px;
  margin-top: 20px;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
color: white;
text-decoration: none;
position: absolute;
top: -80px;
right: 0;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

.slick-lightbox-close {
  left: 10px;
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 80%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 120px;
}

.mobi {
  background-color: white;
   top: 100px;
  opacity: 0;
  z-index: -500;
  display: flex;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: all 300ms ease-in-out;
}

.displayprod {
    display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.displaymobi {
  top: 70px;
  opacity: 1;
  z-index: 500;
  display: flex;
  justify-content: space-around;
}

.sublistlist {
  margin-left: 0 !important;
}

#sub {
  text-align: center;
  font-size: 9px;
  margin-left: 0 !important;
}

.crash {
  background-color: black;
  top: 210px;
  opacity: 0;
  z-index: -500;
  display: flex;
  height: 50px;
  border: 1px solid white;
  position: absolute;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: all 300ms ease-in-out;
}

.crashshow {
  top: 120px;
  opacity: 1;
  z-index: 500;
      display: flex;
    justify-content: space-around;
}



.yeah {
  text-align: center;
  font-size: 9px;
  color: white;
}

.oofilter {
  display: none;
}
.oosort {
  display: none;
}

.showpages {
  display: flex;
  justify-content: end;
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}

.containbigii {
  height: 180px;
}
@media screen and (min-width: 1500px) {
  .test {
    margin: 0 240px 0 210px;
  }
  .globeproducts {
    margin: 0 240px 0 210px;
  }
  .superwarp{
    margin: -80px 240px 0 260px;
  }

}


@media only screen and (max-width: 1400px) {

  .popimage {
    display: none;
}

.mobilepop {
  display: block;
  width: 100% !important;
}

}

@media only screen and (max-width: 1100px) {
 .test{
    margin: 0 0 0 0;
  }
  .lest {
    margin-left: 0;
    margin-top: 100px;
  }

  .dsdd {
    margin-top: 80px;
  }
.kakaka { 
  flex-direction: column !important;
  flex-wrap: wrap !important;
    justify-content: center !important;
}
h2 {
  font-size: 9px;
}

.bannerimage {
  display: none !important;
}

  .caps {
    display: none;
  }

  .sublist {
    display: none;
  }
  #product-slider__main.object-fit--contain .slick-slide img {
  object-fit: cover;
  height: 490px;
  width: 74%;
}
#product-slider__main .slick-slide {
  height: 490px;
}

  .sete{
    font-size: 30px !important;
  }

  .pop-up {
  width: 80% !important;
}

  .bottext {
    font-size: 25px !important;
    top: -150px !important;
  }
  .newcl {
    font-size: 15px !important;
    top: -200px !important;
  }

  .mobilepop {
  display: block;
  width: 200% !important;
}

.certosoquenao {
  font-size: 10px;
}

  .buttonlow {
    margin-bottom: 20px;
  }
  .minus, .plus{
      width:33px;
      height:34px;
      background: black;
      padding:8px 3px 8px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      color: white;
      cursor: pointer;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold !important;
    }
  .showpages {
  text-align: center;
}
.imgbottom {
  width: 100% !important;
}
  .custoscustos {
  }
  .capscontain {
    width: 100%;
  }
  .lightbox-target:target img {
    max-width: 60%;
  }
  .faster {
    display: none;
  }

  .contactface {
    font-size: 9px;
  }

  .portesban {
    font-size: 9px;
    margin-right: 0;
    margin-top: 0;
  }

.slide:nth-child(1){
  background-image:url(/assets/images/saldos.jpg);
  background-repeat:no-repeat;
  background-size:auto 500px;
  background-position: center top;
 }

.slide:nth-child(2){
  background-image:url(/assets/images/slide2gogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 500px;
  background-position: center top;
}

.slide:nth-child(3){
  background-image:url(/assets/images/slide3gogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 500px;
  background-position: center top;
}


  .fotimgbig {
    width: 40px !important;
  }

  .hrfilter {
    width: 70%;
  }

  .ordertop {
    margin-right: 0 !important;
    width: auto !important;
  }

  .place {
    width: auto !important;
  }
  .marcscontain {
    flex-direction: column;
  }

  .containbigii {
    height: 300px !important;
  }

  .productwindow {
    align-content: center;
    justify-content: center;
    width: 50%;
    margin: 0;
    flex-direction: column;
  }
  .let {
    font-size: 10px;
    text-align: center;
  }
  .newsletter {
      justify-content: center;
  }

  .prodcontain {
    margin: 0;
    display: flex;
flex-direction: column;

  }

  .globeproducts {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .quantttt {
    justify-content: center;
    display: flex;
  }
  .inside {
    text-align: center !important;
  }
  .whatel {
    text-align: center;
  }
  .ff{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }
  #my-size {
    width: 100%;
    border: 1px solid black;
  }
  #colors {
    width: 100%;
        border: 1px solid black;

  }
  .lightbox {
    max-width: 50%;
  }
  .lost {
    text-align: center;
    width: 100%;
    font-size: 15px;
    display: none !important;
  }
  .sec {
    width: 100%;
  }
  .productdetails {
    width: 80%;
  }
  #no {
    display: none;
  }

  .getpages {
    display: none;
  }

  .a.lightbox-close {
    display: block;
    top: 95px;
  }

  .showpages {
    display: block;
  }
  .filters {
    display: none;
  }
  .mobfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .found {
    display: none;
  }
  .thep {
    display: none;
  }

  .menu {
    width: auto;
  }
  .hamb {
    display: block;
  }
  .imgfcontain {
    height: 100%;
  }
  .lest {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
  }
  .restaurar{
    text-align: center;
    width: 40% !important;
height: 40px;
  }
  #oozer-filters {
    display: none;
  }
  fieldset {
    display: none;
  }



  .oofilter {
  width: 100%;
  display: none;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  }
  .oosort {
  width: 100%;
  display: none;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 10px !important;
  }
  .oofiltershow {
    display: flex;
  }
  .filtername{
    display: block;
  }
  .restaurar {
  }
  .filtercontainer {
    display: flex;
    margin-bottom: 10px;
  }
  .sortcontainer {
    display: flex;
    margin-bottom: 10px;
  }

.filter {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  }
}



.eve {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
}

.filters {
  margin-top: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.order {
  font-size: 12px;
}


.arrow2 {
  width: 10px;
height: 10px;
margin-left: 5px;
margin-top: 5px;
}

.ordertop {
  display: flex;
}

.place {
  font-weight: 900 !important;
  width: 200px;
  display: flex;
}

.linkinside {
  margin-top: 10px;
  margin-bottom: 10px;
}

.upprice {
  width: 100%;
  font-size: 10px;
  text-align: center;
  opacity: 0;
  margin-top: 10px;
  display: none;
  width: 60%;
  transition: all 300ms ease-in-out;
}

.upriceshow {
    margin-bottom: 20px;

    display: block;
  opacity: 1;
  margin-top: 5px;
}

.upprice:hover {
  color: #808080;
}

.priceget {
  text-align: left;
  font-size: 20px !important;
  margin-top: 10px;
  color: black;
  font-weight: bold !important;
  text-transform: uppercase;
}

.priceis {
  display: flex;
}

.our {
  display: flex;
}


.filterlink {
  color: black !important;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .imagebanner {
    display: none;
  }

    .carousel{
    height: 50vh;
  }
    .bottext {
    font-size: 25px !important;
    top: -50px !important;
  }
  .newcl {
    font-size: 15px !important;
    top: -90px !important;
  }
  .slide:nth-child(1){
  background-image:url(/assets/images/slidegogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 400px;
  background-position: center top;
 }

.slide:nth-child(2){
  background-image:url(/assets/images/slide2gogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 400px;
  background-position: center top;
}

.slide:nth-child(3){
  background-image:url(/assets/images/slide3gogogo.jpg);
  background-repeat:no-repeat;
  background-size:auto 400px;
  background-position: center top;
}
  .subcustotilte {
    font-size: 15px;
  }

  .containshirts {
    margin-right: 0 !important;
  }
    .botomh1{
    font-size: 25px !important;
  }
  .submite {
    font-size: 10px !important;
  }
  .logo {
    width: 100px;
  }
s
  .fotimgbig {
    width: 40px !important;
  }

  .theorder {
    width: auto;
  }

  .place {
    width: auto;
  }

  .cash{
    display:none;
  }
  header {
    height: 90px;
  }

  .third {
    justify-content: center;
    width: 100%;
  }

  .productwindow {
    width: 80%;
    justify-content: space-around;
    align-items: center;
  }
  #oozer-filters {
  width: 100%;
  display: none;
  justify-content: center;
  text-align: center;
  }



.filter {
  display: flex;
  justify-content: center;
  width: 100%;
  }
  li{
    font-size: 15px;
  }

  .fotterimg {
    width: 40px;
  }
  .imgfcontain {
    height: 100%;
  }

  .sec {
    width: 100%;
  }

  .inside {
    width: 100%;
  }
  .lebutton {
    width: 200px;
  }
  .productdetails {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .setserach {
    display: none;
  }
    .fotterimg {
    width: 40px;
  }
  .imgfcontain {
    height: 100%;
  }
   .lest {
      flex-wrap: wrap;
  }
  .fotimgbig {
    width: 40px !important;
  }
}

