---
layout: default
---
<div class="capscontain"><div class="caps"><h6 class="found"><a href="{{ site.url }}">Home</a><a href="{{ site.url }}{{ page.url }}">{{ page.url }}</a></h6></div></div>
<div class="uplost"><h1 class="lost"> Polos </h1></div>
<main class="test">
  <div class="eve">
  
  
<div class="filters"><div class="titlefilter"><h3 class="order"><div class="ordertop"><h3 class="theorder">Ordenar por: </h3><h3 class="place">Preço Alto - Baixo</h3></div><div class="linkinside"><a class="filterlink" href="{{ site.url }}/filtros/poloscrescente/"><h3 class="upprice">Preço Baixo - Alto</h3></a><a class="filterlink" href="{{ site.url }}polos"><h3 class="upprice">Relevância</h3></a></div></div>
</div></div>


 <main class="lest">
  <div class="filtercontainer">
    <h4 class="filtername">Aplicar Filtros</h4>
  </div>
 {% include oozefilters.html %}



<div class="mobfil">
   <div class="sortcontainer">
    <h4 class="filtername"><div class="ordertop"><h3 class="theorder">Ordenar por: </h3><h3 class="place">Preço Alto - Baixo</h3></div></h4>
  </div>

  <div class="oosort"><a class="filterlink" href="{{ site.url }}/filtros/tshirtscrescente/"><h3 class="oosort">Preço Baixo - Alto</h3></a><a class="filterlink" href="{{ site.url }}/tshirts"><h3 class="oosort">Relevância</h3></a></div></div>
</div>



</form>
<ul class="list prodcontain" id="oozer-list">
 {% assign sorted = site.products | sort: "price" | reverse %}
{% for t in sorted %}
  {% if t.categoria == "polos" %}
{% if t.stock == "sim" %}
  <li data-oozer-filter="{{ t.att }} {{ t.color[0] }} {{ t.color[1] }}" class="prod">
  <div class="productplace" >
  <a href="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"><img class="productimage" src="{{ t.image }}" data-src="{{ t.image }}" data-hover="{{ t.sec }}" alt=""></a>
    <div class="btn">
      <button class="snipcart-add-item thisbtn"
    data-item-id="{{ t.id }}"
    data-item-name="{{ t.name }}"
    data-item-price="{{ t.price }}"
    data-item-weight="{{ t.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ t.color[0] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"
    data-item-description="{{ t.discrip }}"
    data-item-image="{{ t.image }}">
    Adicionar ao carrinho   
</button>

            <h4 class="h4name" data-position="{{ t.price }}">{{ t.name }}</h4>
      <h4 class="h4price" data-position="{{ t.price }}">Preço:{{ t.price }}0€</h4>
</li>

</div>
</div>

{% endif %}
{% if t.stock == "nao" %}
  <li data-oozer-filter="{{ t.att }} {{ t.color[0] }} {{ t.color[1] }}" class="prod">
  <div class="productplace" >
<img class="productimage yimagey" src="{{ t.image }}" data-src="{{ t.image }}" data-hover="{{ t.sec }}" alt="">
    <div class="btn">
      <button class="nostock thisbtn"
    data-item-id="{{ t.id }}"
    data-item-name="{{ t.name }}"
    data-item-price="{{ t.price }}"
    data-item-weight="{{ t.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ t.color[0] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"
    data-item-description="{{ t.discrip }}"
    data-item-image="{{ t.image }}">
    Sem Stock  
</button>

            <h4 class="h4name" data-position="{{ t.price }}">{{ t.name }}</h4>
      <h4 class="h4price" data-position="{{ t.price }}">Preço:{{ t.price }}0€</h4>
</li>

</div>
{% endif %}
{% endif %}
{% endfor %}

</ul>
</main>
<div class="letop"><img id="toTop" class="top" src="/assets/images/top.png" alt=""></div>

    <div class="pagination pages showpages"></div>


</main>

