---
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta name="google-site-verification" content="mC0b0vl3fkv05cqb-tl1xwH0orb7KWoADVibbaL3hGE" />
	    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
	<title>GOGOGO Store - Loja Online de Roupa Masculina</title>
	  <meta name="description" content="Loja Online de Roupa Masculina em Portugal. Sempre com os melhores preços em t-shirts, camisas, polos e muito mais! Aproveite já!">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="YjZkMjRlZmEtODIwYi00NDg2LWFmMjktNzhjOGNkMjQ5YmM1NjM2ODU1Nzc1NDc2NzQxODkx"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
   <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <script type="text/javascript" src="/assets/javascript/roulete.js"></script>
   <script type="text/javascript" src="/assets/javascript/func.js"></script>
   <script type="text/javascript" src="/assets/javascript/paginate.js"></script>
   <script type="text/javascript" src="/assets/javascript/jquery.oozer.js"></script>

</head>
<body>

	{% include header.html %}

	{{ content }}

	{% include footer.html	%}
	
</body>
</html>