---
---
<!DOCTYPE html>
<html lang="pt">
<head>
<script type="text/javascript" src="/assets/javascript/pt.js" defer></script>

  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1388768,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v3.3'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_PT/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your customer chat code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="1103384309756429"
  logged_in_greeting="Olá! Podemos ajudar?"
  logged_out_greeting="Olá! Podemos ajudar?">
</div>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function() {
    OneSignal.init({
      appId: "f08d3d92-6087-40c9-afb0-5ab5daf6b499",
    });
  });

</script>
<!-- Hotjar Tracking Code for www.gogogostore.pt -->

	<meta name="google-site-verification" content="mC0b0vl3fkv05cqb-tl1xwH0orb7KWoADVibbaL3hGE" />
	    <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
	<title>GOGOGO Store - Loja Online de Roupa Masculina</title>
	<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
	  <meta name="description" content="{{ page.sss }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="MDI3OGJiNzItYjQzNi00ZWMwLTk2MDgtZTgyNTA1YWNjZmViNjM2ODU1Nzc1NDc2NzQxODkx"></script>

<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
      <script type="text/javascript" src="/assets/javascript/lala.js"></script>
   <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <script type="text/javascript" src="/assets/javascript/roulete.js"></script>
   <script type="text/javascript" src="/assets/javascript/func.js"></script>
   <script sync type="text/javascript" src="/assets/javascript/jquery.oozer.js"></script>
      <script sync type="text/javascript" src="/assets/javascript/jquery.oozer.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="https://wp.incredibbble.com/writsy-shop/wp-content/themes/writsy-shop/assets/vendor/jquery-zoom/jquery.zoom.min.js?ver=1.7.18"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.1.0/lazysizes.min.js"></script>
<script src="https://mreq.github.io/slick-lightbox/dist/slick-lightbox.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" type="text/css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" type="text/css" rel="stylesheet">
<link href="https://mreq.github.io/slick-lightbox/dist/slick-lightbox.css" type="text/css" rel="stylesheet">
<link href="https://mreq.github.io/slick-lightbox/gh-pages/bower_components/slick-carousel/slick/slick-theme.css" type="text/css" rel="stylesheet">
<!-- Firebase App is always required and must be first -->
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-auth.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-140777273-1');
</script>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


  <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</head>
<body>

	{% include header.html %}

	{{ content }}

	{% include footer.html	%}
	
</body>
</html>