---
layout: default
---

</style>
<div class="capscontain">
  <div class="caps">
    <div class="found" >
      <a class="upmess" style="margin-left: 10px; z-index: 1000" href="{{ site.url }}">Home</a>
      <div class="upmess">></div>
      <a class="upmess" style="z-index: 1000" href="{{ site.url }}/{{ page.categoria }}">{{ page.categoria }}</a>
            <div class="upmess" >></div>
      <a class="upmess" style="z-index: 1000" href="{{ site.url }}/{{ page.url }}">{{ page.titulo }}</a>
    </div>
</div>
</div>
<div style="position: relative; height: 100vh;">

<div style="display: flex; flex-wrap: wrap;        justify-content: center;">
 

  <img style="width: 50%;" class="" src="{{ page.img }}" alt="{{ t.titulo }}">
<div style="position: absolute; z-index: 20; display: flex; justify-content: center; align-self: center; flex-direction: column; margin-top: 40px;">
    <div style=" font-size: 10px;    font-size: 10px; flex-direction: column; margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;" class="">
      <a href="{{ site.url }}/blog/{{ t.link }}" style="margin-top: 100px; "><h2 class="" style="text-transform: uppercase;">{{ page.titulo }}</h2></a>
                       <a style="margin-top: 20px;" href="{{ site.url }}/blog/{{ t.link }}"> <h3 class="" style="color: gray;">{{ t.dia }}</h3></a>
           <a style="margin-top: 20px;" href="{{ site.url }}/blog/{{ t.link }}"> <h3 class="" style="text-align: center; color: gray;">{{ page.resumo }}</h3></a>
    </div>

   <div style="width: 100%; margin-top: 30px; display: flex;">
<p>{{ page.content }}</p>

</div>

</div>
  </div>
</div>

</div>

</div>
  </div>
