---
layout: default
---

</style>
<div class="capscontain">
  <div class="caps">
    <div class="found" >
      <a class="upmess" style="margin-left: 10px; z-index: 1000" href="{{ site.url }}">Home</a>
      <div class="upmess">></div>
      <a class="upmess" style="z-index: 1000" href="{{ site.url }}/{{ page.categoria }}">{{ page.categoria }}</a>
            <div class="upmess" >></div>
      <a class="upmess" style="z-index: 1000" href="{{ site.url }}/{{ page.url }}">{{ page.titulo }}</a>
    </div>
</div>
</div>

  <div class=""><img style="width: 100%;" class="" src="{{ page.img }}" alt="banner{{ page.titulo }}"></div>