---
layout: default
---
<meta name="viewport" content="width=device-width">

<style type="text/css">

    @media only screen and (max-width: 1100px) {
    nav {
    width: 145% !important;
}
  html,body
{
    width: 120%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}



#fb-root {
    display: none;
}

  @-webkit-viewport { width: device-width; }
    @-moz-viewport { width: device-width; }
    @-ms-viewport { width: device-width; }
    @-o-viewport { width: device-width; }
    @viewport { width: device-width; }
</style>

</style>
<div class="capscontain"><div class="caps"><h6 class="found"><a href="{{ site.url }}">Home</a><a href="{{ site.url }}{{ page.url }}">{{ page.url }}</a></h6><h1 class="lost"> {{ page.name }} </h1></div></div>
<main class="teste1">
    <div class="flextest" style="display: flex;">
<div class="globeproducts" style="display: flex;flex-wrap: wrap;">
<div class="productwindow">
    <div class="topprodd" style="display:flex !important;">
<div id="product-slider" class="has-social-share">
    <div class="col">
      <div id="product-slider__main" class="object-fit--contain">
      <div class="zoom">
        <img class="lazyload" data-src="{{ page.image }}" alt="" />
      </div>

      <div class="zoom">
        <img class="lazyload" data-src="{{ page.sec }}" alt="" />
      </div>
{% if page.thir %}
      <div class="zoom">
        <img class="lazyload" data-src="{{ page.thir }}" alt="" />
      </div>
{% endif %}
{% if page.four %}
      <div class="zoom">
        <img class="lazyload" data-src="{{ page.four }}" alt="" />
      </div>
{% endif %}
    </div>
    </div>
    <div class="col">
      <div id="product-slider__nav" class="object-fit--contain">

        <img class="lazyload" data-src="{{ page.image }}" alt="" />

        <img class="lazyload" data-src="{{ page.sec }}" alt="" />
{% if page.thir %}

        <img class="lazyload" data-src="{{ page.thir }}" alt="" />
{% endif %}
{% if page.four %}

        <img class="lazyload" data-src="{{ page.four }}" alt="" />
{% endif %}

    </div>

    </div>
</div>
</div>
</div>
<div class="productdetails">

<h3 class="inside">{{ page.name }}</h3>
<div class="what">
  <div class="priceis"><h4 style="font-size: 10px !important; margin-top: 20px; margin-bottom: 40px;" class="whatel inside priceget">Preço:</h4><h3 class="whatel inside priceget">{{ page.price }}0€</h3></div> 
<div class="ff"><select class="inside inside" id="my-size">
        <option>Tamanho</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
</select>
</div>
<div class="ff"><select id="colors" class="inside">
    <option>Cores</option>
    <option>{{ page.color[0] }}</option>
    {% if page.color[1] %}
        <option>{{ page.color[1] }}</option>
        {% endif %}
            {% if page.color[2] %}
        <option>{{ page.color[2] }}</option>
        {% endif %}
</select>
</div>
</div>

<div class="quantttt">
    <h3 class="whatel inside">Qty: </h3>
    <div class="buybutn" style="display: flex;">
    <span class="minus" style="   -webkit-appearance: none;
">-</span>
<input type='text' name='quantity' value='0' class='qty inside' id="my-quantity" />
    <span class="plus" style="   -webkit-appearance: none;
">+</span>
</div>
</div>
<div class="ff">
{% if page.stock == "sim" %}
<button style="   -webkit-appearance: none;
" id="my-button" class="snipcart-add-item cartbut lebutton"
    data-item-id="{{ page.id }}"
    data-item-name="{{ page.name }}"
    data-item-price="{{ page.price }}"
    data-item-weight="{{ page.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ page.color[0] }}|{{ page.color[1] }}|{{ page.color[2] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ page.categoria }}/{{ page.att }}/{{ page.link }}"
    data-item-description=""
    data-item-pull="{{ page.discrip }}"
    data-item-image="{{ page.image }}">
    Adicionar ao carrinho   
</button>
</div>
{% endif %}
{% if page.stock == "nao" %}
<button id="my-button" class="nostock cartbut lebutton" style="-webkit-appearance: none;
">
    Sem Stock  
</button>
</div>
{% endif %}
{% if page.stock == "saldo" %}
<button style="-webkit-appearance: none;
" id="my-button" class="snipcart-add-item cartbut lebutton"
    data-item-id="{{ page.id }}"
    data-item-name="{{ page.name }}"
    data-item-price="{{ page.price }}"
    data-item-weight="{{ page.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ page.color[0] }}|{{ page.color[1] }}|{{ page.color[2] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ page.categoria }}/{{ page.att }}/{{ page.link }}"
    data-item-description=""
    data-item-pull="{{ page.discrip }}"
    data-item-image="{{ page.image }}">
    Adicionar ao carrinho   
</button>
</div>
  <div class="colectiondis" style=" display: flex; justify-content: space-between; width: 100%; align-items: center; margin: 10px 0px 0 0px;"><h2  class="colecioes">Envios e Condições</h2><img class="menuscores" style="" src="/assets/images/plusarrow.png" alt=""><img class="maiscores" style="" style="" src="/assets/images/minus.png" alt=""></div>
            <hr class=""> 
                  <div class="maiscoresdiv nobasic" style="width: 500px;">
           Todas as encomendas superiores a 40€ possuem portes grátis.
O método de envio utilizado é o CTT Expresso, pelo que cada encomenda chega ao seu destino 2 a 3 dias após pagamento, não incluindo feriados e fins de semana.
Os portes da sua encomenda são calculados automáticamente através do nosso site, pelo que são dependêntes do peso da sua encomenda. Não são aceites trocas de artigos com mais de 30 dias, sem etiqueta ou danificados.</div>
      
</div>
{% endif %}
 

</div>
</div>
<div class="colectiondis" style=" display: none; justify-content: space-between; width: 100%; align-items: center; margin: 10px 0px 20px 0px;"><h2  class="colecioes">Envios e Condições</h2><img class="menuscores" style="" src="/assets/images/plusarrow.png" alt=""><img class="maiscores" style="" style="" src="/assets/images/minus.png" alt=""></div>
            <hr class=""> 
                  <div class="maiscoresdiv nobasic" style=" display: none; margin-bottom: 100px; width: 500px;">
           Todas as encomendas superiores a 40€ possuem portes grátis.
O método de envio utilizado é o CTT Expresso, pelo que cada encomenda chega ao seu destino 2 a 3 dias após pagamento, não incluindo feriados e fins de semana.
Os portes da sua encomenda são calculados automáticamente através do nosso site, pelo que são dependêntes do peso da sua encomenda. Não são aceites trocas de artigos com mais de 30 dias, sem etiqueta ou danificados.</div>
    <h1 style="display: flex;justify-content: center;margin-bottom: 25px;font-size: 15px;"> Também pode gostar de:</h1>
    <div class="sliderx" id="sliderx">
<div class="displayprod slidex" id="slidex" style="">
{% assign posts = site.products] | sample:25 %}
{% for t in posts %}
   <li data-oozer-filter="{{ t.att }} {{ t.color[0] }} {{ t.color[1] }} {{ t.discrip }}" class="prod">
  <div class="productplace" >
  <a href="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"><img class="productimage" src="{{ t.image }}" data-src="{{ t.image }}" data-hover="{{ t.sec }}" alt=""></a>
    <div class="btn">
      <button style="   -webkit-appearance: none;
" class="snipcart-add-item thisbtn"
    data-item-id="{{ t.id }}"
    data-item-name="{{ t.name }}"
    data-item-price="{{ t.price }}"
    data-item-weight="{{ t.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ t.color[0] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"
    data-item-description="{{ t.discrip }}"
    data-item-image="{{ t.image }}">
    Adicionar ao carrinho   
</button>
<h4 class="h4name" style="display: flex;justify-content: space-around;" data-position="{{ t.price }}">{{ t.name }}{% if t.new %}<p style="color:red;font-size: 9px;">New</p></h4>{% else %}</h4>
{% endif %}
      <h4 class="h4price" data-position="{{ t.price }}">Preço:{{ t.price }}0€</h4>
  {% endfor %}
</div>
</div>
</li>
</div>
</div>
</div>
<div class="uuu" style="  box-shadow: 5px 10px #888888; position: fixed; bottom: 0; width: 100%; background-color: white; height: 180px;  justify-content: space-between; align-items: center;">
<div class="sabado">
<div style="background-color: white; height: 70px; display: flex; align-items: center;">      <h2 class="h2price" data-position="{{ t.price }}">Preço:<br>{{ page.price }}0€</h2></div>
<div class="mert">
<select class="inside inside" id="my-size" style="margin-right: 20px; width: 150px; height: 70px;">
            <option>Tamanho?</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
</select>
</div>
<button style="   margin-right: 20px; -webkit-appearance: none; margin-top: 0; width: 180px; height: 80px;
" id="my-button" class="snipcart-add-item cartbut lebutton"
    data-item-id="{{ page.id }}"
    data-item-name="{{ page.name }}"
    data-item-price="{{ page.price }}"
    data-item-weight="{{ page.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ page.color[0] }}|{{ page.color[1] }}|{{ page.color[2] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ page.categoria }}/{{ page.att }}/{{ page.link }}"
    data-item-description=""
    data-item-pull="{{ page.discrip }}"
    data-item-image="{{ page.image }}">
    Adicionar ao carrinho   
</button>
</div>
</div>
</div>
</main>

