---
layout: default
---
<div class="capscontain"><div class="caps"><h6 class="found"><a href="{{ site.url }}">Home</a><a href="{{ site.url }}{{ page.url }}">{{ page.url }}</a></h6><h1 class="lost"> {{ page.name }} </h1></div></div>
<main class="teste1">
<div class="globeproducts">
<div class="productwindow">
    <div class="topprodd" style="display:flex !important;">
<div class="detailflex">

<a class="lightbox" href="#detail">
<img class="pimg" src="{{ page.sec }}">   
</a> 
<div class="lightbox-target" id="detail">
<img class="pimg" src="{{ page.sec }}">
    <a class="lightbox" href="#sap">
<div  class="arrow arrow-left"></div>
</a>
    <a class="lightbox" href="#mak">
<div  class="arrow arrow-right"></div>
</a>
<a class="lightbox-close" href="#"></a>
</div>

{% if page.thir %}
<a class="lightbox" href="#sap">
<img class="pimg" src="{{ page.thir }}">
</a> 
<div class="lightbox-target" id="sap">
<img class="pimg" src="{{ page.thir }}">
    <a class="lightbox" href="#mak">
<div  class="arrow arrow-left"></div>
</a>
    <a class="lightbox" href="#detail">
<div  class="arrow arrow-right"></div>
</a>
<a class="lightbox-close" href="#"></a>
</div>
{% endif %}
</div>

<a class="" href="#mak">
<img class="sec {{ page.class }}" src="{{ page.image }}">
</a> 
<div class="lightbox-target" id="mak">
    <a class="lightbox" href="#detail">
<div  class="arrow arrow-left"></div>
</a>
{% if page.thir %}
    <a class="lightbox" href="#sap">
}
<div  class="arrow arrow-right"></div>
</a>
{% endif %}
{% if page.thir == null %}
    <a class="lightbox" href="#detail">
}
<div  class="arrow arrow-right"></div>
</a>
{% endif %}

<img class="pimg" src="{{ page.image }}">
<a class="lightbox-close" href="#"></a>
</div>
</div>
<div class="productdetails">

<h3 class="inside">{{ page.name }}</h3>
<div class="what">
  <div class="priceis"><h4 style="font-size: 10px !important; margin-top: 20px; margin-bottom: 40px;" class="whatel inside priceget">Preço:</h4><h3 class="whatel inside priceget">{{ page.price }}0€</h3></div> 
<div class="ff"><select class="inside inside" id="my-size">
        <option>Tamanho</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
</select>
</div>
<div class="ff"><select id="colors" class="inside">
    <option>Cores</option>
    <option>{{ page.color[0] }}</option>
    {% if page.color[1] %}
        <option>{{ page.color[1] }}</option>
        {% endif %}
            {% if page.color[2] %}
        <option>{{ page.color[2] }}</option>
        {% endif %}
</select>
</div>
</div>

<div class="quantttt">
    <h3 class="whatel inside">Qty: </h3>
    <span class="minus">-</span>
<input type='text' name='quantity' value='0' class='qty inside' id="my-quantity" />
    <span class="plus">+</span>
</div>
<div class="ff">
{% if page.stock == "sim" %}
<button id="my-button" class="snipcart-add-item cartbut lebutton"
    data-item-id="{{ page.id }}"
    data-item-name="{{ page.name }}"
    data-item-price="{{ page.price }}"
    data-item-weight="{{ page.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ page.color[0] }}|{{ page.color[1] }}|{{ page.color[2] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ page.categoria }}/{{ page.att }}/{{ page.link }}"
    data-item-description=""
    data-item-pull="{{ page.discrip }}"
    data-item-image="{{ page.image }}">
    Adicionar ao carrinho   
</button>
</div>
{% endif %}
{% if page.stock == "nao" %}
<button id="my-button" class="nostock cartbut lebutton">
    Sem Stock  
</button>
{% endif %}
</div>
</div>
</div>
    <h1 style="display: flex;justify-content: center;margin-bottom: 25px;font-size: 15px;"> Também pode gostar de:<h1>
<div class="displayprod" style="width: 100%;flex-wrap: wrap;justify-content: center;">
{% assign posts = site.products] | sample:4 %}
{% for t in posts %}
   <li data-oozer-filter="{{ t.att }} {{ t.color[0] }} {{ t.color[1] }} {{ t.discrip }}" class="prod">
  <div class="productplace" >
  <a href="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"><img class="productimage" src="{{ t.image }}" data-src="{{ t.image }}" data-hover="{{ t.sec }}" alt=""></a>
    <div class="btn">
      <button class="snipcart-add-item thisbtn"
    data-item-id="{{ t.id }}"
    data-item-name="{{ t.name }}"
    data-item-price="{{ t.price }}"
    data-item-weight="{{ t.weight }}"
    data-item-custom2-name="Tamanho"
    data-item-custom2-options="S|M|L|XL"
    data-item-custom2-required="true"
    data-item-custom3-name="Cor"
    data-item-custom3-options="{{ t.color[0] }}"
    data-item-custom3-required="True"
    data-item-quantity="1"
    data-item-url="{{ site.url }}/products/{{ t.categoria }}/{{ t.att }}/{{ t.link }}"
    data-item-description="{{ t.discrip }}"
    data-item-image="{{ t.image }}">
    Adicionar ao carrinho   
</button>
<h4 class="h4name" style="display: flex;justify-content: space-around;" data-position="{{ t.price }}">{{ t.name }}{% if t.new %}<p style="color:red;font-size: 9px;">New</p></h4>{% else %}</h4>
{% endif %}
      <h4 class="h4price" data-position="{{ t.price }}">Preço:{{ t.price }}0€</h4>
  {% endfor %}
</div>
</div>
</li>
</div>
</main>

